body{
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
}
.navdiv{
    margin: 0px;
    padding: 12px;
    background-color:#2E236C;
    display: flex;
    justify-content: space-between;
}
.navul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap:35px ;
}
.navul>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}